.textWrapper {
	border-bottom-color: #6F9FC8;
	border-left-color: #6F9FC8;
	border-right-color: #6F9FC8;
	border-top-color: #6F9FC8;
	color: #6F9FC8;
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	height: 350px; 
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: 75%;
}

.node{
	border-bottom-color: #6F9FC8;
	border-left-color: #6F9FC8;
	border-right-color: #6F9FC8;
	border-top-color: #6F9FC8;
	color: #6F9FC8;
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 23px;
	margin-top: 0px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	width: 95%;
}

.spy {
	background-color: #13181D;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-collapse: separate;
	border-left-color: black;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: black;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1px;
	color: white;
	display: table-cell;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 13px;
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	text-align: center;
	vertical-align: top;
	width: 95%;
}

.area {
	background-color: #13181D;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-collapse: separate;
	border-left-color: black;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: black;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1px;
	color: white;
	display: table-cell;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 13px;
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	text-align: center;
	vertical-align: top;
	width: 95%;
}

.key{
	border-bottom-color: #161616;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-collapse: separate;
	border-left-color: #6F9FC8;
	border-right-color: #6F9FC8;
	border-top-color: #6F9FC8;
	color: #6F9FC8;
	display: table-cell;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	height: 13px;
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	text-align: left;
	vertical-align: middle;
}

.value {
	border-bottom-color: #161616;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-collapse: separate;
	border-left-color: #6F9FC8;
	border-right-color: #6F9FC8;
	border-top-color: #6F9FC8;
	color: #6F9FC8;
	display: table-cell;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	height: 13px;
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	text-align: right;
	vertical-align: middle;
}

.defense {
	background-color: #13181D;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-collapse: separate;
	border-left-color: black;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: black;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1px;
	color: #6F9FC8;
	display: table-cell;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 13px;
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	text-align: center;
	vertical-align: middle;
	width: 95%;
}

.coords {
	border-bottom-color: #848484;
	border-collapse: separate;
	border-left-color: #848484;
	border-right-color: #848484;
	border-top-color: #848484;
	color: #848484;
	cursor: auto;
	display: inline;
	font-family: Verdana, Arial, SunSans-Regular, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 0px;
	line-height: 11px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: #848484;
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	vertical-align: baseline;
}

.activity {
	border-bottom-color: #6F9FC8;
	border-collapse: separate;
	border-left-color: #6F9FC8;
	border-right-color: #6F9FC8;
	border-top-color: #6F9FC8;
	color: #6F9FC8;
	display: table-cell;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	height: 26px;
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	vertical-align: middle;
	width: 95%;
}

.mmogame-icon, .mmogame-icon a			{ background: none top left no-repeat; }
.cr_hosting-icon, .cr_hosting-icon a		{ background: none top left no-repeat; }
a.mmogame-span							{ text-decoration: none !important; }
a.cr-hosting-span						{ text-decoration: none !important; }
a.mmogame-span span 						{ display: none;}
a.mmogame-span:hover span				{ display: inline; position: relative; left: -125px; top: -100px; z-index: 9999;}
a.cr-hosting-span span 					{ display: none;}
a.cr-hosting-span:hover span				{ display: inline; position: relative; left: -200px; top: -100px; z-index: 9999; }
.just_move:hover span					{ left: -375px  !important; top: -60px  !important;}

ul.profile-icons li.mmogame-icon	{ width: {IMG_ICON_CONTACT_MMOGAME_WIDTH}px; height: {IMG_ICON_CONTACT_MMOGAME_HEIGHT}px; }
ul.profile-icons li.cr_hosting-icon	{ width: {IMG_ICON_CONTACT_CR_HOSTING_WIDTH}px; height: {IMG_ICON_CONTACT_CR_HOSTING_HEIGHT}px; }

.mmogame-icon, .mmogame-icon a			{ background-image: url("{IMG_ICON_CONTACT_MMOGAME_SRC}"); }
.cr_hosting-icon, .cr_hosting-icon a		{ background-image: url("{IMG_ICON_CONTACT_CR_HOSTING_SRC}"); }